
.col-xs-12.col-sm-3.headerNavBtn  ペット専用のマッチングアプリ。
%a.top-signup.login{:href => "/login"} Login
.top
  .mask
    .caption.text-center いいね機能
    .caption.text-center
    .caption.text-center 相談
    .caption.text-center 卒業生
-#     -# .caption.text-center 卒業生の写真や現状を投稿してみよう！
%a.top-signup.signup{:href => "/signup"} Sign up
%p.text-center or
%a.top-signup.login{:href => "/login"} Login
%footer