.top
  .mask
    .caption.text-center いいね機能
.middle{:ontouchstart => ""}
  .mask
    .caption.text-center 相談
    .caption.text-center
      相談してみよう
.bottom
  .mask
    .caption.text-center タグ機能、つぶやき機能
    .caption.text-center つぶやいてみよう！タグやつぶやきから気になるペットを探せます
    